<footer class="footer">

  <div class="footer-overlay"></div>

  <div class="footer-container">

    <div class="footer-section brand-section">

      <div class="footer-logo">
        SSO ARCHIVE
      </div>

      <p class="footer-description">
        This website was created to help the Star Stable Online community by
        providing a detailed horse database, interactive maps and collectible tracking.
      </p>



    </div>

    <div class="footer-section">

      <h3>Navigation</h3>

      <ul>
        <li><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a routerLink="/horses"><i class="fa-solid fa-horse"></i> Horses</a></li>
        <li><a routerLink="/collectibles"><i class="fa fa-gem"></i> Collectibles</a></li>
        <li><a routerLink="/accessories"> <i class="fa-solid fa-hat-cowboy"></i> Accessories</a></li>
      </ul>

    </div>

    <div class="footer-section">

      <h3>Features</h3>

      <ul>
        <li>Horse Database</li>
        <li>Interactive Maps</li>
        <li>Search & Filters</li>
        <li>Collectible Tracking</li>
      </ul>

    </div>

  </div>

  <div class="footer-bottom">

    <p>© 2026 SSO Archive — Made for the community</p>

    <p>
      Not affiliated with the official
      <a href="https://www.starstable.com/" target="_blank">
        Star Stable Online
      </a>
      website.
    </p>

  </div>

</footer>