<div class="hero-header">
  <div class="hero-content">

    <h1 class="hero-title">SSOArchive</h1>

    <div class="hero-hover-content">
      <div class="hero-description">
        <p>
          Welcome to <span class="highlight">SSOArchive Website</span> — where you can find all sorts of guides for the game Star Stable Online. 
          Here you can explore detailed information about <span class="highlight">breeds</span>, find
          <span class="highlight">maps for collectible</span>, and more.
        </p>
      </div>

      <div class="hero-features">
        <div class="feature-item">🐎 Browse Horses</div>
        <div class="feature-item">🗺️ Check The Collectible Maps</div>
      </div>
    </div>

  </div>
</div>